@page "/findcompanybyid"

@using MyCompanyWebsite.Proxies
@using MyCompanyWebsite.Data
@using Grpc.Core
@inject MyCompanyClient client


<h1>Find Company By Id</h1>

<EditForm Model="@companyId" OnValidSubmit="HandleValidSubmit">
	<DataAnnotationsValidator />
	<ValidationSummary />

	<p>
		<label>
			Company Id :
			<InputText id="companyId" @bind-Value="companyId.Value" />
		</label>
	</p>
	<p>
		<button type="submit">Submit</button>
	</p>

	@if (response != null)
	{

		<table class="table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Exchange</th>
					<th>Ticker</th>
					<th>ISIN</th>
					<th>Website</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>@response.Name</td>
					<td>@response.Exchange</td>
					<td>@response.Ticker</td>
					<td>@response.Isin</td>
					<td>@response.Website</td>
				</tr>
			</tbody>
		</table>
	}
	else if (errorMessage != null)
	{
		<p>
			@errorMessage
		</p>
	}

</EditForm>

@code {
	private CompanyId companyId = new CompanyId();
	private string errorMessage = null;
	private Company response = null;
	private void HandleValidSubmit()
	{
		try
		{
			errorMessage = null;
			response = client.FindCompanyById(int.Parse(companyId.Value));
		}
		catch (RpcException exception)
		{
			response = null;
			errorMessage = exception.Status.Detail;
		}
	}
}